[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
coverage = "*"
pytest-django = "*"
django = "*"
flake8 = "*"
black = "*"
isort = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-allauth = "*"
psycopg2 = "*"
pytest-factoryboy = "*"
model-bakery = "*"

[dev-packages]

[requires]
python_version = "3"
